body{
    margin: 0;
}
.nav1{
    width: 100%;
    height: 100px;
    background-color: rgb(58, 57, 57);
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1000;
}
.div1{
    width: 40%;
    float: left;
    text-align: center;
}
.img1{
    width: 140;
    height: 100px;
}
.div2{
    width: 60%;
    float: left;
    padding-top: 15px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    }
ul li{
    display: inline-block;
    margin-left: 40px;
}
a:hover{
    color: #9f6b5a;
}
.clear{
    clear: both;
}
.gallery-sec1{
    width: 100%;
    height: 400px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.gallery-sec1-div1{
    padding-top: 200px;
}
.gallery-sec1-a{
    font-size: 18px;
}
.gallery-sec1-ol{
    padding-right: 45px;
}
ol li{
    display: inline-block;
    padding-left: 5px;
}
.gallery-sec1-p1{
    font-size: 40px;
}
.gallery-sec1-li2{
    word-spacing: 5px;
}
.gallery-clear1{
    clear: both;
}
.gallery-sec2{
    width: 100%;
    margin-top: 50px;
}
.gallery-sec2-div-head{
    width: 85%;
    margin: auto;
}
.gallery-sec2-div1{
    width: 33.3%;
    float: left;
}
.gallery-sec2-div2{
    width: 33.3%;
    float: left;
}
.gallery-sec2-div3{
    width: 33.3%;
    float: left;
}
.gallery-sec2-div4{
    width: 33.3%;
    float: left;
}
.gallery-sec2-div5{
    width: 33.3%;
    float: left;
}
.gallery-sec2-div6{
    width: 33.3%;
    float: left;
}
.gallery-sec2-img1{
    width: 85%;
    padding: 30px 0px 30px 30px;
}
.gallery-clear2{
    clear: both;
}
.sec6{
    width: 100%;
    height: 500px;
    background-color: black;
}
.sec6-div-head{
    width: 85%;
    margin: auto;
    padding-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.sec6-div1{
    width: 33.3%;
    float: left;
}
.location-icon {
    width: 30px;
    height: 30px;
    fill:#9f6b5a; /* Color of the icon */
}
.bi.bi-telephone {
    color:#9f6b5a;
    width: 30px;
    height: 30px;
}
.email-icon {
    width: 30px;
    height: 30px;
    fill:#9f6b5a;
    transition: fill 0.3s;
}
.sec6-h2{
    color: white;
    font-size: 30px;
}
.sec6-a{
    color: #6c757d;
    text-decoration: none;
    line-height: 70px;
    font-size: 17px;
}
.sec6-div2{
    width: 33.3%;
    float: left;
    text-align: center;
    color: #6c757d;
    font-size: 17px;
}
.g-sec6-div3{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.sec6-social-icon svg {
    width: 30px;
    height: 30px;
    fill: #6c757d;
    margin-right: 90px;
}
.sec6-twitter-icon {
    width: 35px;
    height: 35px;
    fill: #6c757d; /* Twitter blue */
    margin-right: 50px;
}
.sec6-instagram-icon {
    width: 30px; /* Adjust the size as needed */
    height: 30px;
    fill:#6c757d; /* White color */
    margin-left: 90px;
}
.sec6-linkedin-icon svg {
    fill:#6c757d; /* LinkedIn blue color */
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    transition: fill 0.3s ease; /* Smooth transition */
    margin-left: 30px;
}
.sec6-div3{
    width: 33.3%;
    float: left;
    text-align: right;
    color: #6c757d;
}
.sec6-3-h2{
    color: white;
    font-size: 30px;
}
.sec6-li{
     display: block;
}
.sec6-a1{
    font-size: 17px;
    color: #6c757d;
    line-height: 50px;
    text-decoration: none;
}
.clear6{
    clear: both;
}
.sec6-d4{
    color: #6c757d;
    text-align: center;
}
@media screen and (min-width:0px) and (max-width:576px) {


    body{
        margin: 0;
        width: 1170px;
    }
    .nav1{
        width: 100%;
        height: 400px;
        background-color: rgb(58, 57, 57);
        margin: auto;
        z-index: 1000;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
    }
    .div1{
        width: 100%;
        float: none;
        text-align: center;
    }
    .img1{
        width: 70%;
        height: 250px;
        margin-top: 20px;
    }
    .div2{
        width: 100%;
        float: none;
        padding: 35px 0px;
        background-color: rgb(53, 46, 46);
    }
    
    a{
        font-size: 37px;
        }
        .gallery-sec1{
            height: 400px;
        }
        .gallery-sec1-div1{
            padding-top: 80px;
        }
        .gallery-sec1-a{
            font-size: 40px;
        }
        .gallery-sec1-ol{
            padding-right: 55px;
        }
        ol li{
            display: inline-block;
            padding-left: 5px;
        }
        .gallery-sec1-p1{
            font-size: 50px;
            margin-top: 100px;
        }
        .gallery-sec1-li2{
            font-size: 32px;
        }
        .sec6{
        height: 550%;
        padding-bottom: 40px;
    }
    .sec6-div-head{
        width: 85%;
    }
    .sec6-div1{
        width: 100%;
    }
    .sec6-h2{
        font-size: 80px;
    }
    .sec6-a{
        line-height: 90px;
        font-size: 60px;
    }
    .sec6-img1{
        width: 60%;
        padding: 80px 10px;
    }
    .sec6-div2{
        width: 100%;
        line-height: 80px;
        font-size: 50px;
    }
    .sec6-div3{
        width: 100%;
        text-align: left;
    }
    .sec6-3-h2{
        font-size: 80px;
    }
    .sec6-a1{
        font-size: 50px;
        line-height: 90px;
    }
    .sec6-d4{
        font-size: 50px;
        text-align: center;
    }
}